<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="LOG_DIR">${sys:LOG_DIR:-logs}</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId}] %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- THÊM charset -->
            <PatternLayout pattern="${PATTERN}" charset="UTF-8"/>
        </Console>

        <RollingFile name="AppFile" fileName="${LOG_DIR}/app.log"
                     filePattern="${LOG_DIR}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- THÊM charset -->
            <PatternLayout pattern="${PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="info"/>
        <Logger name="org.hibernate.type.descriptor.sql" level="warn"/>
        <Logger name="org.springframework.security" level="info"/>
        <Logger name="org.springframework.web" level="info"/>
        <Logger name="com.example" level="debug"/>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppFile"/>
        </Root>
    </Loggers>
</Configuration>